/* border-box includes the content size plus the border size plus the padding when calculating the width and height of elements.
This simplifies width and height assignment.
*/
* {
    -ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Applying the Google "Lato" font for the page */
body {
    font: 100% "Lato", sans-serif;
    color: #747704;
    margin-bottom: 20px;
}

/* We want to center the 'Featured Work' title to the center when we reach this breakpoint (as defined in Bootstrap) */
@media screen and (max-width: 992px) {
	.featured-work {
		text-align: center;
	}
}

.featured-work {
	color: #bcbbbb;
}

/* Footer block should have a margin at the bottom for adding some whitespace to the page */
.featured-img-block {
	margin-bottom: 10px;
}

/* Thickness of the horizontal rule */
.separator {
    height: 2px;
    background-color: #bcbbbb;
}

/* Personal image has a circular border like the Udacity logo */
.img-personal {
	margin: 15px 0 0 15px;
	border: solid 5px;
	color: #F8981C;
}

.copyright-footer {
	margin: 30px 0 0 0;
}